@model CompanyCatalogue.Models.PassingModels.ListPassModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="maxNUmberOfPages" type="hidden" value="@Model.Number"></div>
<div id="shiftValue" type="hidden" value="1"></div>

<div id="EditCustomerPartial" style="display:flex; justify-content: flex-end; flex-direction:column">
    <div class="sortFilter" style="display: flex; justify-content:space-around; flex-direction: row; margin-bottom: 30px"> 
        <select class="form-control" id="SortingOptions" style="width: 30%;">
            <option>Name</option>
            <option>Position</option>
            <option>Date of Employment</option>
            <option>Salary</option>
        </select>

        <select class="form-control" id="AscendingDescending" style="width: 30%;">
            <option>Ascending</option>
            <option>Descending</option>
        </select>
    </div>
    
    <div id="ForPartial">
        @Html.Partial("PartialTest", Model.Employees)
    </div>
</div>

<ul class="pagination" id="pagination">
    <li class="page-item" id="1"><a class="page-link">1</a></li>
    <li class="page-item" id="2"><a class="page-link">2</a></li>
    <li class="page-item" id="3"><a class="page-link">3</a></li>
    <li class="page-item" id="4"><a class="page-link">4</a></li>
    <li class="page-item" id="5"><a class="page-link">5</a></li>
</ul>


    @section Scripts
    {

    <script type="text/javascript">

        document.getElementById('SortingOptions').onchange = function () {

            var ul = document.getElementById("pagination");
            var items = ul.getElementsByTagName("li");
            var minPage = 1;
            var maxPage = @Model.Number;
            var localMax = 0;
            var localMin = 1;

            var shift = Number(document.getElementById('shiftValue').getAttribute('value'));

            if(shift - 2 < minPage)
            {
                localMin = 1;
            } else {
                localMin = shift - 2;
            }

            if(shift + 2 > maxPage)
            {
                localMax = maxPage
            } else {
                localMax = shift + 2;
            }

            for (var i = 0; i < items.length; i++) {
                
                items[i].children[0].innerHTML = localMin;
                localMin++;
                items[i].children[0].style.backgroundColor = 'white';

                if (items[i].textContent == shift)
                {
                    items[i].children[0].style.backgroundColor = '#EAECEF';
                }
            }
            

            for (var i = items.length - 1; i >= 0; i--) 
            {

                if (localMax < items[i].textContent)
                 {
                     items[i].hidden = true;
                 } else {
                     items[i].hidden = false;
                 }

            }

            var num = shift;
            var type = document.getElementById("SortingOptions").value;
            var direction = document.getElementById("AscendingDescending").value;

            $.ajax({
                url: "@(Url.Action("LoadMore", "List"))",
                type: "Get",
                data: { num, type, direction },
                cache: false,
                async: true,
                success: function (data) {
                    $('#ForPartial').html(data);
                }
            });

        }

        $("#pagination li").click(function () {

            var ul = document.getElementById("pagination");
            var items = ul.getElementsByTagName("li");
            var minPage = 1;
            var maxPage = @Model.Number;
            var localMax = 0;
            var localMin = 1;

            document.getElementById('shiftValue').setAttribute('value', $(this).text());

            var shift = Number(document.getElementById('shiftValue').getAttribute('value'));

            if(shift - 2 < minPage)
            {
                localMin = 1;
            } else {
                localMin = shift - 2;
            }

            if(shift + 2 > maxPage)
            {
                localMax = maxPage
            } else {
                localMax = shift + 2;
            }

            for (var i = 0; i < items.length; i++) {
                
                items[i].children[0].innerHTML = localMin;
                localMin++;
                items[i].children[0].style.backgroundColor = 'white';

                if (items[i].textContent == shift)
                {
                    items[i].children[0].style.backgroundColor = '#EAECEF';
                }
            }
            

            for (var i = items.length - 1; i >= 0; i--) 
            {

                if (localMax < items[i].textContent)
                 {
                     items[i].hidden = true;
                 } else {
                     items[i].hidden = false;
                 }

            }

            var num = shift;
            var type = document.getElementById("SortingOptions").value;
            var direction = document.getElementById("AscendingDescending").value;

            $.ajax({
                url: "@(Url.Action("LoadMore", "List"))",
                type: "Get",
                data: { num, type, direction },
                cache: false,
                async: true,
                success: function (data) {
                    $('#ForPartial').html(data);
                }
            });

        });
    </script>

    }